<!-- NavBar -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="http://www.codevirginia.org/">CodeVA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../templates/base.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Outside Resources
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" target="_blank" href="http://storyprogramming.org/">Story based teaching</a>
                      <a class="dropdown-item" target="_blank" href="https://www.terpconnect.umd.edu/~weintrop/#projects">Pencil.cc</a>
                      <a class="dropdown-item" target="_blank" href="https://www.theguardian.com/teacher-network/teacher-blog/2013/may/09/teaching-algorithms-binary-code-dungeons-and-dragons">Dungeons and Dragons Binary Lesson</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Coding Lessons
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/1Nlg3ZEttnYV528tCk9htFbssBJhoVVo_/view?usp=sharing">Scratch Lesson 1</a>
                      <a class="dropdown-item" target="_blank" href="https://docs.google.com/presentation/d/1kg6yo3PQ6tV8ahWKtOkfJrmg7w4CtwDJ10AflDX_DbA/edit?usp=sharing">Python Lesson 1</a>
                      <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/1JBXYamKvNfSa2_uk96cPsBJ30nK8uC7_/view?usp=sharing">Scratch Lesson 2</a>
                      <a class="dropdown-item" target="_blank" href="https://docs.google.com/presentation/d/1HDP6E6ZhqZ45W9dS2SStwTnlu0dPcsBB/edit#slide=id.p1">Python Lesson 2</a>
                      <a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/1VRxG2intR15r0Leeyre8NPz5yBHm5dUH/view?usp=sharing">Scratch Lesson 3</a>
                      <a class="dropdown-item" target="_blank" href="https://docs.google.com/presentation/d/1fbfcGngkRQ_uINVS6LX_sxEl_JRvm_g1/edit#slide=id.p1">Python Lesson 3</a>
                      <a class="dropdown-item" target="_blank" href="https://docs.google.com/presentation/d/1I0rdQ-gCDc-o2w-3klDIFqO2smluBtG7C93d9FrSOl0/edit?usp=sharing">Scratch Lesson 4</a>
                      <a class="dropdown-item" target="_blank" href="https://docs.google.com/presentation/d/14PYDO4XASaw7KEcsGCVwwlsUyG-g0jEm/edit#slide=id.p1">Python Lesson 4</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>